<div class="container">
  <app-search></app-search>

  <div class="row pt-2">
    <div class="col text-center">
      <h1>Currently Airing</h1>
    </div>
  </div>
  <div class="row">
    <ng-container *ngIf="airingAnime.length == 0">
      <div class="col text-center">
        <img src="loading.gif" style="width: 48px; height: 48px" />
        <p>Loading...</p>
      </div>
    </ng-container>
    <ng-container *ngFor="let anime of airingAnime; let i = index">
      <div *ngIf="anime.airing == true" class="col-2 py-2">
        <app-anime-card
          [anime]="anime"
          [title]="true"
          [episodes]="true"
        ></app-anime-card>
      </div>
    </ng-container>
  </div>
</div>
