<div class="card border-info" style="max-width: 18rem">
  <img class="card-img-top" src="{{ anime.images.jpg.image_url }}" />
  <div class="card-body">
    <h5 class="card-title">
      <ng-container *ngIf="anime.title_english">
        {{ anime.title_english }}
      </ng-container>
      <ng-container *ngIf="!anime.title_english">
        {{ anime.title }}
      </ng-container>
    </h5>

    <h5 class="card-text">
      <ng-container *ngIf="anime.episodes">
        {{ anime.episodes }} Episodes
      </ng-container>
      <ng-container *ngIf="!anime.episodes"> ? Episodes </ng-container>
    </h5>
  </div>
</div>
