<div class="row mb-2">
  <input
    class="form-control"
    placeholder="Search..."
    [(ngModel)]="query"
    name="search"
  />
</div>
<div class="row">
  <button class="btn btn-outline-primary" (click)="submit()">Search</button>
</div>

<ng-container *ngIf="result">
  <div class="row">
    <ng-container *ngFor="let anime of result">
      <div class="col-2 py-2">
        <app-anime-card
          [anime]="anime"
          [title]="true"
          [episodes]="true"
        ></app-anime-card>
      </div>
    </ng-container>
  </div>
</ng-container>
